In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
     {
        "Name": [
             "홍길동",
            "일지매",
             "성충향",
            ],
         "Age": [22, 35, 58],
         "Sex": ["남자", "남자", "여자"],
     }
 )

In [3]:
df

  Name  Age Sex
0  홍길동   22  남자
1  일지매   35  남자
2  성충향   58  여자

__DataFrame__ 다양한 타입의 데이터를 저장할 수 있는 2차원의 데이터 구조이다.
스프레드시트, SQL 테이블, R의 data.frame과 유사하다

__DataFrame__ 의 각 칼럼은 __Serise__이다.
![Serise]()

__Age__ 칼럼의 데이터를 다루고 싶다면

In [4]:
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

__DataFrame__ 에서 하나의 칼럼을 선택하면, 그 결과는 __Serise__ 이다.
하나의 칼럼을 선택하려면 괄호안에 [] 칼럼 라베을 적어주면 된다.

In [5]:
ages=pd.Series([22,35,43], name="Age")

In [6]:
ages

0    22
1    35
2    43
Name: Age, dtype: int64

In [7]:
df["Age"].max()

58