In [1]:
import pandas as pd

In [30]:
people = {
    "first" : ["길동", "춘향", "몽룡"],
    "last" : ["홍", "성", "이"],
    "email" : ["gdhong@gmail.com", "chsung@gmail.com", "mrlee@gmail.com"]
}

In [31]:
df = pd.DataFrame(people)

In [32]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mrlee@gmail.com

In [7]:
df['이름'] + ' ' + df['성']

0    길동 홍
1    춘향 성
2    몽룡 이
dtype: object

first 칼럼과 last 칼럼의 값으 합치고, 그 결과를 추가되는 full_name 칼럼에 저장하자.

In [8]:
df['full_name'] = df['이름'] + ' ' + df['성']

In [9]:
df

   이름  성               이메일 full_name
0  길동  홍  gdhong@gmail.com      길동 홍
1  춘향  성  chsung@gmail.com      춘향 성
2  몽룡  이   mrlee@gmail.com      몽룡 이

In [10]:
df.drop(columns=['이름','성'])

                이메일 full_name
0  gdhong@gmail.com      길동 홍
1  chsung@gmail.com      춘향 성
2   mrlee@gmail.com      몽룡 이

In [11]:
df.drop(columns=['이름','성'], inplace=True)

In [12]:
df

                이메일 full_name
0  gdhong@gmail.com      길동 홍
1  chsung@gmail.com      춘향 성
2   mrlee@gmail.com      몽룡 이

In [13]:
df['full_name'].str.split(' ')

0    [길동, 홍]
1    [춘향, 성]
2    [몽룡, 이]
Name: full_name, dtype: object

이렇게 분리된 값을 두 개의 다른 칼럼에 할당하고자 한다면 expand 인자를 사용한다.

In [14]:
df['full_name'].str.split(' ', expand=True)

    0  1
0  길동  홍
1  춘향  성
2  몽룡  이

In [15]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)

In [16]:
df

                이메일 full_name first last
0  gdhong@gmail.com      길동 홍    길동    홍
1  chsung@gmail.com      춘향 성    춘향    성
2   mrlee@gmail.com      몽룡 이    몽룡    이

In [17]:
df.append({'first' : 'chanho', 'last' : 'Park'}, ignore_index=True)

                이메일 full_name   first  last
0  gdhong@gmail.com      길동 홍      길동     홍
1  chsung@gmail.com      춘향 성      춘향     성
2   mrlee@gmail.com      몽룡 이      몽룡     이
3               NaN       NaN  chanho  Park

In [18]:
df

                이메일 full_name first last
0  gdhong@gmail.com      길동 홍    길동    홍
1  chsung@gmail.com      춘향 성    춘향    성
2   mrlee@gmail.com      몽룡 이    몽룡    이

In [35]:
df = df.append({'first' : 'chanho', 'last' : 'Park'}, ignore_index=True)

In [36]:
df

    first  last             email
0      길동     홍  gdhong@gmail.com
1      춘향     성  chsung@gmail.com
2      몽룡     이   mrlee@gmail.com
3  chanho  Park               NaN

In [25]:
people = {
    "first" : ["Jisung", "Youngpyo"],
    "last" : ["Park", "Lee"],
    "email" : ["jspark@gmail.com", "yplee@gmail.com"]
}

In [26]:
df2 = pd.DataFrame(people)

In [28]:
df2

      first  last             email
0    Jisung  Park  jspark@gmail.com
1  Youngpyo   Lee   yplee@gmail.com

In [33]:
df.append(df2)

      first  last             email
0        길동     홍  gdhong@gmail.com
1        춘향     성  chsung@gmail.com
2        몽룡     이   mrlee@gmail.com
0    Jisung  Park  jspark@gmail.com
1  Youngpyo   Lee   yplee@gmail.com

In [37]:
df.append(df2, ignore_index=True)

      first  last             email
0        길동     홍  gdhong@gmail.com
1        춘향     성  chsung@gmail.com
2        몽룡     이   mrlee@gmail.com
3    chanho  Park               NaN
4    Jisung  Park  jspark@gmail.com
5  Youngpyo   Lee   yplee@gmail.com

In [38]:
df = df.append(df2, ignore_index=True)

In [39]:
df

      first  last             email
0        길동     홍  gdhong@gmail.com
1        춘향     성  chsung@gmail.com
2        몽룡     이   mrlee@gmail.com
3    chanho  Park               NaN
4    Jisung  Park  jspark@gmail.com
5  Youngpyo   Lee   yplee@gmail.com

마지막으로 행을 삭제해보자.
칼럼을 삭제하는 것과 유사하다. 칼럼을 삭제할 때와 달리 삭제하고자 하는 행의 인덱스를 전달하면 된다.

In [40]:
df.drop(index=3)

      first  last             email
0        길동     홍  gdhong@gmail.com
1        춘향     성  chsung@gmail.com
2        몽룡     이   mrlee@gmail.com
4    Jisung  Park  jspark@gmail.com
5  Youngpyo   Lee   yplee@gmail.com

In [41]:
df.drop(index=3, inplace=True)

In [42]:
df

      first  last             email
0        길동     홍  gdhong@gmail.com
1        춘향     성  chsung@gmail.com
2        몽룡     이   mrlee@gmail.com
4    Jisung  Park  jspark@gmail.com
5  Youngpyo   Lee   yplee@gmail.com

In [43]:
df['last'] == 'Lee'

0    False
1    False
2    False
4    False
5     True
Name: last, dtype: bool

In [44]:
df[df['last'] == 'Lee']

      first last            email
5  Youngpyo  Lee  yplee@gmail.com

In [46]:
df[df['last'] == 'Lee'].index

Int64Index([5], dtype='int64')

In [47]:
df.drop(index= df[df['last'] == 'Lee'].index)

    first  last             email
0      길동     홍  gdhong@gmail.com
1      춘향     성  chsung@gmail.com
2      몽룡     이   mrlee@gmail.com
4  Jisung  Park  jspark@gmail.com

In [48]:
filt = df[df['last'] == 'Lee'].index
df.drop(index=filt)

    first  last             email
0      길동     홍  gdhong@gmail.com
1      춘향     성  chsung@gmail.com
2      몽룡     이   mrlee@gmail.com
4  Jisung  Park  jspark@gmail.com