In [1]:
import pandas as pd

In [2]:
people = {
    "first" : ["길동", "춘향", "몽룡"],
    "last" : ["홍", "성", "이"],
    "email" : ["gdhong@gmail.com", "chsung@gmail.com", "mylee@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [7]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [8]:
df.loc[0]

first                  길동
last                    홍
email    gdhong@gmail.com
Name: 0, dtype: object

In [9]:
df.loc[0,'first']

'길동'

In [10]:
df.loc[[0,1]]

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com

In [11]:
df.loc[[0,1], ['last','email']]

  last             email
0    홍  gdhong@gmail.com
1    성  chsung@gmail.com

In [12]:
df.set_index('email')   # 원본에 영향을 주진 않음

                 first last
email
gdhong@gmail.com    길동    홍
chsung@gmail.com    춘향    성
mylee@gmail.com     몽룡    이

In [13]:
df.set_index('email', inplace=True) # 원본에 영향을 줌

In [15]:
df

                 first last
email
gdhong@gmail.com    길동    홍
chsung@gmail.com    춘향    성
mylee@gmail.com     몽룡    이

In [16]:
df.loc[0,'first']

KeyError: 0

In [17]:
df.loc['gdhong@gmail.com', 'first']

'길동'

In [18]:
df.index

Index(['gdhong@gmail.com', 'chsung@gmail.com', 'mylee@gmail.com'], dtype='object', name='email')

In [19]:
df.iloc[0,0]

'길동'

In [20]:
df

                 first last
email
gdhong@gmail.com    길동    홍
chsung@gmail.com    춘향    성
mylee@gmail.com     몽룡    이

In [21]:
df.sort_index()

                 first last
email
chsung@gmail.com    춘향    성
gdhong@gmail.com    길동    홍
mylee@gmail.com     몽룡    이

In [22]:
df.sort_index(inplace=True)

In [23]:
df

                 first last
email
chsung@gmail.com    춘향    성
gdhong@gmail.com    길동    홍
mylee@gmail.com     몽룡    이

In [24]:
df.sort_index(ascending=False, inplace=True)

In [25]:
df

                 first last
email
mylee@gmail.com     몽룡    이
gdhong@gmail.com    길동    홍
chsung@gmail.com    춘향    성

In [26]:
df.index[2]

'chsung@gmail.com'

In [27]:
df.iloc[2,-1]

'성'

In [28]:
df.reset_index(inplace=True)

In [29]:
df

              email first last
0   mylee@gmail.com    몽룡    이
1  gdhong@gmail.com    길동    홍
2  chsung@gmail.com    춘향    성

In [30]:
df['last'] == '성'

0    False
1    False
2     True
Name: last, dtype: bool

In [31]:
df[df['last'] == '성']

              email first last
2  chsung@gmail.com    춘향    성

In [32]:
filt = (df['last'] == '성')

In [33]:
df[filt]

              email first last
2  chsung@gmail.com    춘향    성

In [34]:
df[filt]['first']

2    춘향
Name: first, dtype: object

In [35]:
df.loc[2,'first']

'춘향'

In [36]:
df.loc[filt]

              email first last
2  chsung@gmail.com    춘향    성

In [37]:
df.loc[filt, 'first']

2    춘향
Name: first, dtype: object

In [38]:
filt = (df['last'] == '성') & (df['first'] == '길동')

In [39]:
filt

0    False
1    False
2    False
dtype: bool

In [40]:
df[filt]

Empty DataFrame
Columns: [email, first, last]
Index: []

In [41]:
filt = (df['last'] == '성') | (df['first'] == '길동')

In [42]:
df[filt]

              email first last
1  gdhong@gmail.com    길동    홍
2  chsung@gmail.com    춘향    성

In [43]:
df[filt]['email']

1    gdhong@gmail.com
2    chsung@gmail.com
Name: email, dtype: object

In [44]:
df.loc[filt, 'email']

1    gdhong@gmail.com
2    chsung@gmail.com
Name: email, dtype: object

In [45]:
df.loc[~filt, 'email']

0    mylee@gmail.com
Name: email, dtype: object