In [1]:
import pandas as pd

In [2]:
people = {
    "이름" : ["길동", "춘향", "몽룡"],
    "성" : ["홍", "성", "이"],
    "이메일" : ["gdhong@gmail.com", "chsung@gmail.com", "mrlee@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com

In [5]:
df.columns

Index(['이름', '성', '이메일'], dtype='object')

칼럼 이름을 번경해 보자

In [6]:
df.columns = ['first_name', 'last_name', 'email']

In [7]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [8]:
nums = [x for x in range(1,10)]

In [9]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
"first_name".upper()

'FIRST_NAME'

In [12]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [13]:
df.columns = [x.upper() for x in df.columns]

In [14]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

칼럼 이름의 "-"를 ""로 변경해 보자

In [15]:
df.columns = [x.replace("-", "") for x in df.columns]

원본의 칼럼 명을 변경하고 싶다면 다음과 같이

In [18]:
df.columns = df.columns.str.replace('-','')

In [19]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

문제 : 칼럼 이름을 소문자로 변경하라. lower()

In [20]:
df.columns = [x.lower() for x in df.columns]

In [21]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com