데이터에 빠진 부분을 제거하는 방법에 대해 알아보자.

이 예에서는 DataFrame의 일부 항목이 null값을 가지도록 만들자.

이 때, Numpy.nan 값(Not a Number), None 이런 값이 빠진 값을 의미한다.

예를 들어 SQL에서도

insert into members(id, name, dept) values(1, '홍길동', null); // null은 Unkown, N/A (Not Applicable)

select * from members where dept is null;

insert into members(id, name, dept) values(1, '홍길동', '소속없음');

In [1]:
import pandas as pd
import numpy as np

In [2]:
people = {
    'first' : ['길동', '춘향', '몽룡', '찬호', np.nan, None, 'NA'],
    'last' : ['홍', '성', '이', '박', np.nan, np.nan, 'Missing'],
    'email' : ['gdhong@gmail.com', 'chsung@gmail.com', 'mrlee@gmail.com', np.nan, None, np.nan, 'anonymouse@gmail.com'],
    'age' : [22, 18, 23, 45, None, None, 'Missing']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
4   NaN      NaN                  None     None
5  None      NaN                   NaN     None
6    NA  Missing  anonymouse@gmail.com  Missing

데이터 프레임의 dropna()를 이용해 빠진 값을 가진 행을 제거해 보자.

In [5]:
df.dropna()

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
6    NA  Missing  anonymouse@gmail.com  Missing

In [6]:
df

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
4   NaN      NaN                  None     None
5  None      NaN                   NaN     None
6    NA  Missing  anonymouse@gmail.com  Missing

dropna() 는 옵션을 가진다. 옵션을 주지 않으면 다음과 같은 디폴트 옵션을 가진다.

dropna() == dropna(axis='index', how = 'nay'))

axis는 'index' 또는 'column'을 값으로 가진다.

axis가 'index'인 경우, 빠진 값을 가지는 행을 드롭하겠다는 의미다.

axis가 'columns'인 경우, 빠진 값을 가지는 열을 드롭하겠다는 의미다.

how가 'any'인 경우, 빠진 값이 하나라도 있으면 드롭하겟다는 의미이다.

how가 'all'인 경우, 모든 값이 빠진 경우에만 드롭하겠다는 의미이다.

In [7]:
df.dropna(axis='index', how='all')

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
6    NA  Missing  anonymouse@gmail.com  Missing

In [8]:
df.dropna(axis='columns', how='all')

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
4   NaN      NaN                  None     None
5  None      NaN                   NaN     None
6    NA  Missing  anonymouse@gmail.com  Missing

In [9]:
df.dropna(axis='columns', how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

email 칼럼 값이 없는 행만 드롭 하시오.

In [10]:
df.dropna(axis='index', subset=['email'])

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
6    NA  Missing  anonymouse@gmail.com  Missing

last 칼럼 값과 email 칼럼 값 모두가 빠진 행을 찾아 삭제하시오.

In [11]:
df.dropna(axis='index', subset=['email','last'], how='all')

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
6    NA  Missing  anonymouse@gmail.com  Missing

In [12]:
df

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
4   NaN      NaN                  None     None
5  None      NaN                   NaN     None
6    NA  Missing  anonymouse@gmail.com  Missing

In [13]:
df.dropna(axis='index', subset=['email'])

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
6    NA  Missing  anonymouse@gmail.com  Missing

last 칼럼 값과 email 칼럼 값 모두가 빠진 경우에만 그 행을 드롭하고 싶다면

In [14]:
df.dropna(axis='index', subset=['email','last'], how='all')

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
6    NA  Missing  anonymouse@gmail.com  Missing

dropna()를 통해 DataFrame 원본을 변경하고자 한다면 inplace=True로 설정한다.

빠진 값을 나타내기 위해 임의로 사용한 'NA','Missing' 값을 다루는 방법에 대해 알아보자._

다음과 같이 DataFrame에서 이러한 임의의 값을 np.nan 값으로 치환하자.

In [15]:
df.replace('NA', np.nan, inplace=True)

In [16]:
df

  first     last                 email      age
0    길동        홍      gdhong@gmail.com       22
1    춘향        성      chsung@gmail.com       18
2    몽룡        이       mrlee@gmail.com       23
3    찬호        박                   NaN       45
4   NaN      NaN                  None     None
5  None      NaN                   NaN     None
6   NaN  Missing  anonymouse@gmail.com  Missing

In [17]:
df.replace('Missing', np.nan, inplace=True)

In [18]:
df

  first last                 email   age
0    길동    홍      gdhong@gmail.com  22.0
1    춘향    성      chsung@gmail.com  18.0
2    몽룡    이       mrlee@gmail.com  23.0
3    찬호    박                   NaN  45.0
4   NaN  NaN                  None   NaN
5  None  NaN                   NaN   NaN
6   NaN  NaN  anonymouse@gmail.com   NaN

경우에 따라, na값을 다른 값으로 치환할 필요가 있다.

예를들어,

In [20]:
# na 값을 모두 0으로
df.fillna(0)

  first last                 email   age
0    길동    홍      gdhong@gmail.com  22.0
1    춘향    성      chsung@gmail.com  18.0
2    몽룡    이       mrlee@gmail.com  23.0
3    찬호    박                     0  45.0
4     0    0                     0   0.0
5     0    0                     0   0.0
6     0    0  anonymouse@gmail.com   0.0

In [21]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [22]:
type(np.nan)

float

In [23]:
df2 = df.fillna(0)

In [24]:
df2['age'].astype(int)

0    22
1    18
2    23
3    45
4     0
5     0
6     0
Name: age, dtype: int64

In [25]:
df2

  first last                 email   age
0    길동    홍      gdhong@gmail.com  22.0
1    춘향    성      chsung@gmail.com  18.0
2    몽룡    이       mrlee@gmail.com  23.0
3    찬호    박                     0  45.0
4     0    0                     0   0.0
5     0    0                     0   0.0
6     0    0  anonymouse@gmail.com   0.0

In [26]:
df2['age'] = df2['age'].astype(int)

In [27]:
df2

  first last                 email  age
0    길동    홍      gdhong@gmail.com   22
1    춘향    성      chsung@gmail.com   18
2    몽룡    이       mrlee@gmail.com   23
3    찬호    박                     0   45
4     0    0                     0    0
5     0    0                     0    0
6     0    0  anonymouse@gmail.com    0

In [28]:
df['age']

0    22.0
1    18.0
2    23.0
3    45.0
4     NaN
5     NaN
6     NaN
Name: age, dtype: float64

In [29]:
df['age'].mean()

27.0

In [33]:
df = pd.read_csv('./data/survey_results_public.csv')
schema_df = pd.read_csv('./data/survey_results_schema.csv')

In [34]:
df[df['Employment'] == 'Missing']

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]

CSV 파일을 DataFrame으로 읽어들이면서, 빠진 값을 나타내기 위해 'NA' 또는 'Missing'
 이라는 임의 값을 가진 셀이 있다면 그 값을 np.nan 값으로 변경하고자한다면...

In [35]:
df = pd.read_csv('./data/survey_results_public.csv', index_col='Respondent', na_values=['NA', 'Missing'])

예제에 사용된 csv파일에는 빠진 값을 나타내기 위해 임의로 사용된 값은 없다. 따라서 위와 같이 해도 달라지는 건 없다.

응답자들의 평균 개발연수를 구하시오.
개발연수는 'YearsCode' 칼럼에 기록되어 있다.

In [38]:
df['YearsCode'] = df['YearsCode'].fillna(0)

In [39]:
df['YearsCode']

Respondent
1         4
2         0
3         3
4         3
5        16
         ..
88377     0
88601     0
88802     0
88816     0
88863     8
Name: YearsCode, Length: 88883, dtype: object

In [41]:
type(df.loc[1, 'YearsCode'])

str

In [42]:
df['YearsCode'].unique()

array(['4', 0, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [46]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)

In [44]:
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [47]:
df['YearsCode'].unique()

array(['4', 0, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', '30', '9', '26', '40', '19', '15', '20', '28',
       '25', '1', '22', '11', '33', '50', '41', '18', '34', '24', '23',
       '42', '27', '21', '36', '32', '39', '38', '31', '37', 51, '29',
       '44', '45', '48', '46', '43', '47', '49'], dtype=object)

In [49]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [50]:
df['YearsCode'].unique()

array([ 4.,  0.,  3., 16., 13.,  6.,  8., 12.,  2.,  5., 17., 10., 14.,
       35.,  7., 30.,  9., 26., 40., 19., 15., 20., 28., 25.,  1., 22.,
       11., 33., 50., 41., 18., 34., 24., 23., 42., 27., 21., 36., 32.,
       39., 38., 31., 37., 51., 29., 44., 45., 48., 46., 43., 47., 49.])

In [51]:
df['YearsCode'].dtypes

dtype('float64')

In [52]:
df['YearsCode'].mean()

11.53812315065873

In [53]:
df['YearsCode'].median()

9.0