1번
# 중간고사
<ul>
    <li>학번 : 1701076 </li>
    <li>이름 : 김진홍</li>
</ul>

In [2]:
import pandas as pd

In [47]:
# 2
df = pd.read_csv('OOP_results.csv', index_col = 'StdNum')
df

        SubjectName  AttdPoint  Homework  Midterm  Finalterm  Total
StdNum
1809349         OOP         20        19       25         11     75
1968144         OOP         20        17       25         29     91
1993289         OOP         20        18       16         28     82
1891044         OOP         20        16       21         12     69
1879982         OOP         20        17       26         29     92
1726380         OOP         20         9       20         26     75
1724481         OOP          0         0        0          0      0
1804630         OOP         20        12       10          5     47
1989046         OOP          0         0        0          0      0
1974935         OOP         20        15       15         11     61
1857008         OOP         19         9       12          8     48
1993809         OOP         16         2       17          4     39
1897281         OOP         20        17       30         30     97
1875290         OOP         20        15       12          8     55
1954022         OOP         20        15       19         14     68
1934243         OOP         20        17       26         30     93
1811646         OOP         20        14       22         22     78
1721470         OOP          0         0        0          0      0
1769727         OOP         20        14        9          3     46
1950136         OOP         17         2        1          0     20
1974440         OOP         20        17       29         28     94
1816207         OOP          0         0        0          0      0
1820158         OOP         20        13       19         29     81
1806474         OOP         20         9        7          4     40
1836508         OOP         20        11       17         13     61
1717040         OOP          0         0        0          0      0
1818588         OOP         20        16        5          3     44
1943825         OOP         20        20       27         10     77
1914788         OOP          0         0        0          0      0
1864612         OOP         20        14       13          2     49
1831484         OOP         20        10       11          5     46
1741933         OOP         20        10        6          1     37
1710335         OOP         20        13        2          4     39
1911496         OOP         20        10        8          2     40
1788542         OOP         20        18       19          6     63
1873632         OOP         15        12        8          4     39
1920569         OOP         20        14       10         15     59
1760212         OOP         20        15        7          3     45
1835080         OOP         20        12       12          4     48
1786659         OOP         20        17       13          4     54
1775658         OOP         20        12        2          2     36
1886038         OOP         20        16       18         23     77
1852486         OOP         20        13        3          1     37
1908921         OOP          0         0        0          0      0

In [4]:
# 3
df.head(10)

        SubjectName  AttdPoint  Homework  Midterm  Finalterm  Total
StdNum
1809349         OOP         20        19       25         11     75
1968144         OOP         20        17       25         29     91
1993289         OOP         20        18       16         28     82
1891044         OOP         20        16       21         12     69
1879982         OOP         20        17       26         29     92
1726380         OOP         20         9       20         26     75
1724481         OOP          0         0        0          0      0
1804630         OOP         20        12       10          5     47
1989046         OOP          0         0        0          0      0
1974935         OOP         20        15       15         11     61

In [6]:
# 4
df.dtypes

SubjectName    object
AttdPoint       int64
Homework        int64
Midterm         int64
Finalterm       int64
Total           int64
dtype: object

In [61]:
df.shape
# 5번

(47, 8)

In [7]:
# 6
df['Finalterm'].max()

30

In [8]:
# 7
df['Midterm']

StdNum
1809349    25
1968144    25
1993289    16
1891044    21
1879982    26
1726380    20
1724481     0
1804630    10
1989046     0
1974935    15
1857008    12
1993809    17
1897281    30
1875290    12
1954022    19
1934243    26
1811646    22
1721470     0
1769727     9
1950136     1
1974440    29
1816207     0
1820158    19
1806474     7
1836508    17
1717040     0
1818588     5
1943825    27
1914788     0
1864612    13
1831484    11
1741933     6
1710335     2
1911496     8
1788542    19
1873632     8
1920569    10
1760212     7
1835080    12
1786659    13
1775658     2
1886038    18
1852486     3
1908921     0
Name: Midterm, dtype: int64

In [9]:
# 8
df[['Midterm','Finalterm']]

         Midterm  Finalterm
StdNum
1809349       25         11
1968144       25         29
1993289       16         28
1891044       21         12
1879982       26         29
1726380       20         26
1724481        0          0
1804630       10          5
1989046        0          0
1974935       15         11
1857008       12          8
1993809       17          4
1897281       30         30
1875290       12          8
1954022       19         14
1934243       26         30
1811646       22         22
1721470        0          0
1769727        9          3
1950136        1          0
1974440       29         28
1816207        0          0
1820158       19         29
1806474        7          4
1836508       17         13
1717040        0          0
1818588        5          3
1943825       27         10
1914788        0          0
1864612       13          2
1831484       11          5
1741933        6          1
1710335        2          4
1911496        8          2
1788542       19          6
1873632        8          4
1920569       10         15
1760212        7          3
1835080       12          4
1786659       13          4
1775658        2          2
1886038       18         23
1852486        3          1
1908921        0          0

In [12]:
# 9
filt = df['Midterm'] >= 25
df.loc[filt,'Midterm']

StdNum
1809349    25
1968144    25
1879982    26
1897281    30
1934243    26
1974440    29
1943825    27
Name: Midterm, dtype: int64

In [67]:
# 10번
filt = df.loc['Midterm'] >= 25
filt2 = df.loc[filt, 'Finalterm'] >= 25
df.loc[filt2]

KeyError: 'Midterm'

In [16]:
# 11
filt = df['Finalterm'] >= 25
df.loc[filt, 'Total']

StdNum
1968144    91
1993289    82
1879982    92
1726380    75
1897281    97
1934243    93
1974440    94
1820158    81
Name: Total, dtype: int64

In [17]:
# 12
df.loc[[1934243, 1968144]]

        SubjectName  AttdPoint  Homework  Midterm  Finalterm  Total
StdNum
1934243         OOP         20        17       26         30     93
1968144         OOP         20        17       25         29     91

In [18]:
# 13
filt = df['Total'] == 0
df[filt]

        SubjectName  AttdPoint  Homework  Midterm  Finalterm  Total
StdNum
1724481         OOP          0         0        0          0      0
1989046         OOP          0         0        0          0      0
1721470         OOP          0         0        0          0      0
1816207         OOP          0         0        0          0      0
1717040         OOP          0         0        0          0      0
1914788         OOP          0         0        0          0      0
1908921         OOP          0         0        0          0      0

In [23]:
# 14
import numpy as np
filt = df['Total'] == 0
df.loc[filt,['AttdPoint', 'Homework', 'Midterm', 'Finalterm','Total']] = [np.NaN,np.NaN,np.NaN,np.NaN,np.NaN]

        SubjectName  AttdPoint  Homework  Midterm  Finalterm  Total
StdNum
1724481         OOP          0         0        0          0      0
1989046         OOP          0         0        0          0      0
1721470         OOP          0         0        0          0      0
1816207         OOP          0         0        0          0      0
1717040         OOP          0         0        0          0      0
1914788         OOP          0         0        0          0      0
1908921         OOP          0         0        0          0      0

In [24]:
# 15
filt = df['Total'] == np.NaN
df[filt]

Empty DataFrame
Columns: [SubjectName, AttdPoint, Homework, Midterm, Finalterm, Total]
Index: []

In [27]:
# 16
df.sort_values(by = 'StdNum', inplace=True)
df

        SubjectName  AttdPoint  Homework  Midterm  Finalterm  Total
StdNum
1710335         OOP         20        13        2          4     39
1717040         OOP          0         0        0          0      0
1721470         OOP          0         0        0          0      0
1724481         OOP          0         0        0          0      0
1726380         OOP         20         9       20         26     75
1741933         OOP         20        10        6          1     37
1760212         OOP         20        15        7          3     45
1769727         OOP         20        14        9          3     46
1775658         OOP         20        12        2          2     36
1786659         OOP         20        17       13          4     54
1788542         OOP         20        18       19          6     63
1804630         OOP         20        12       10          5     47
1806474         OOP         20         9        7          4     40
1809349         OOP         20        19       25         11     75
1811646         OOP         20        14       22         22     78
1816207         OOP          0         0        0          0      0
1818588         OOP         20        16        5          3     44
1820158         OOP         20        13       19         29     81
1831484         OOP         20        10       11          5     46
1835080         OOP         20        12       12          4     48
1836508         OOP         20        11       17         13     61
1852486         OOP         20        13        3          1     37
1857008         OOP         19         9       12          8     48
1864612         OOP         20        14       13          2     49
1873632         OOP         15        12        8          4     39
1875290         OOP         20        15       12          8     55
1879982         OOP         20        17       26         29     92
1886038         OOP         20        16       18         23     77
1891044         OOP         20        16       21         12     69
1897281         OOP         20        17       30         30     97
1908921         OOP          0         0        0          0      0
1911496         OOP         20        10        8          2     40
1914788         OOP          0         0        0          0      0
1920569         OOP         20        14       10         15     59
1934243         OOP         20        17       26         30     93
1943825         OOP         20        20       27         10     77
1950136         OOP         17         2        1          0     20
1954022         OOP         20        15       19         14     68
1968144         OOP         20        17       25         29     91
1974440         OOP         20        17       29         28     94
1974935         OOP         20        15       15         11     61
1989046         OOP          0         0        0          0      0
1993289         OOP         20        18       16         28     82
1993809         OOP         16         2       17          4     39

In [33]:
# 17 18

In [48]:
# 19
df.rename(columns = {'StdName' : '학번', 'SubjectName' : '과목명', 'AttdPoint' : '출결점수', 'Homework' : '과제', 'Midterm' : '중간고사', 'Finalterm': '기말고사', 'Total' : '총점'},inplace=True)
df

         과목명  출결점수  과제  중간고사  기말고사  총점
StdNum
1809349  OOP    20  19    25    11  75
1968144  OOP    20  17    25    29  91
1993289  OOP    20  18    16    28  82
1891044  OOP    20  16    21    12  69
1879982  OOP    20  17    26    29  92
1726380  OOP    20   9    20    26  75
1724481  OOP     0   0     0     0   0
1804630  OOP    20  12    10     5  47
1989046  OOP     0   0     0     0   0
1974935  OOP    20  15    15    11  61
1857008  OOP    19   9    12     8  48
1993809  OOP    16   2    17     4  39
1897281  OOP    20  17    30    30  97
1875290  OOP    20  15    12     8  55
1954022  OOP    20  15    19    14  68
1934243  OOP    20  17    26    30  93
1811646  OOP    20  14    22    22  78
1721470  OOP     0   0     0     0   0
1769727  OOP    20  14     9     3  46
1950136  OOP    17   2     1     0  20
1974440  OOP    20  17    29    28  94
1816207  OOP     0   0     0     0   0
1820158  OOP    20  13    19    29  81
1806474  OOP    20   9     7     4  40
1836508  OOP    20  11    17    13  61
1717040  OOP     0   0     0     0   0
1818588  OOP    20  16     5     3  44
1943825  OOP    20  20    27    10  77
1914788  OOP     0   0     0     0   0
1864612  OOP    20  14    13     2  49
1831484  OOP    20  10    11     5  46
1741933  OOP    20  10     6     1  37
1710335  OOP    20  13     2     4  39
1911496  OOP    20  10     8     2  40
1788542  OOP    20  18    19     6  63
1873632  OOP    15  12     8     4  39
1920569  OOP    20  14    10    15  59
1760212  OOP    20  15     7     3  45
1835080  OOP    20  12    12     4  48
1786659  OOP    20  17    13     4  54
1775658  OOP    20  12     2     2  36
1886038  OOP    20  16    18    23  77
1852486  OOP    20  13     3     1  37
1908921  OOP     0   0     0     0   0

In [36]:
# 20
def get_grade(num):
    if 95 <= num <= 100:
        return 'A+'
    elif 90 <= num <= 94:
        return 'A'
    elif 85 <= num <= 89:
        return 'B+'
    elif 80 <= num <=84:
        return 'B'
    elif 75 <= num <= 79:
        return 'C+'
    elif 70 <= num <=74:
        return 'C'
    elif 65 <= num <= 69:
        return 'D+'
    elif 60 <= num <=64:
        return 'D-'
    else:
        return 'F'

get_grade(93)

'A'

In [37]:
get_grade(88)

'B+'

In [39]:
# 21
df['학점'] = df['총점']
df

         과목명  출결점수  과제  중간고사  기말고사  총점  학점
StdNum
1710335  OOP    20  13     2     4  39  39
1717040  OOP     0   0     0     0   0   0
1721470  OOP     0   0     0     0   0   0
1724481  OOP     0   0     0     0   0   0
1726380  OOP    20   9    20    26  75  75
1741933  OOP    20  10     6     1  37  37
1760212  OOP    20  15     7     3  45  45
1769727  OOP    20  14     9     3  46  46
1775658  OOP    20  12     2     2  36  36
1786659  OOP    20  17    13     4  54  54
1788542  OOP    20  18    19     6  63  63
1804630  OOP    20  12    10     5  47  47
1806474  OOP    20   9     7     4  40  40
1809349  OOP    20  19    25    11  75  75
1811646  OOP    20  14    22    22  78  78
1816207  OOP     0   0     0     0   0   0
1818588  OOP    20  16     5     3  44  44
1820158  OOP    20  13    19    29  81  81
1831484  OOP    20  10    11     5  46  46
1835080  OOP    20  12    12     4  48  48
1836508  OOP    20  11    17    13  61  61
1852486  OOP    20  13     3     1  37  37
1857008  OOP    19   9    12     8  48  48
1864612  OOP    20  14    13     2  49  49
1873632  OOP    15  12     8     4  39  39
1875290  OOP    20  15    12     8  55  55
1879982  OOP    20  17    26    29  92  92
1886038  OOP    20  16    18    23  77  77
1891044  OOP    20  16    21    12  69  69
1897281  OOP    20  17    30    30  97  97
1908921  OOP     0   0     0     0   0   0
1911496  OOP    20  10     8     2  40  40
1914788  OOP     0   0     0     0   0   0
1920569  OOP    20  14    10    15  59  59
1934243  OOP    20  17    26    30  93  93
1943825  OOP    20  20    27    10  77  77
1950136  OOP    17   2     1     0  20  20
1954022  OOP    20  15    19    14  68  68
1968144  OOP    20  17    25    29  91  91
1974440  OOP    20  17    29    28  94  94
1974935  OOP    20  15    15    11  61  61
1989046  OOP     0   0     0     0   0   0
1993289  OOP    20  18    16    28  82  82
1993809  OOP    16   2    17     4  39  39

In [41]:
# 22
df['학점'] = [get_grade(i) for i in df['총점']]
df

         과목명  출결점수  과제  중간고사  기말고사  총점  학점
StdNum
1710335  OOP    20  13     2     4  39   F
1717040  OOP     0   0     0     0   0   F
1721470  OOP     0   0     0     0   0   F
1724481  OOP     0   0     0     0   0   F
1726380  OOP    20   9    20    26  75  C+
1741933  OOP    20  10     6     1  37   F
1760212  OOP    20  15     7     3  45   F
1769727  OOP    20  14     9     3  46   F
1775658  OOP    20  12     2     2  36   F
1786659  OOP    20  17    13     4  54   F
1788542  OOP    20  18    19     6  63  D-
1804630  OOP    20  12    10     5  47   F
1806474  OOP    20   9     7     4  40   F
1809349  OOP    20  19    25    11  75  C+
1811646  OOP    20  14    22    22  78  C+
1816207  OOP     0   0     0     0   0   F
1818588  OOP    20  16     5     3  44   F
1820158  OOP    20  13    19    29  81   B
1831484  OOP    20  10    11     5  46   F
1835080  OOP    20  12    12     4  48   F
1836508  OOP    20  11    17    13  61  D-
1852486  OOP    20  13     3     1  37   F
1857008  OOP    19   9    12     8  48   F
1864612  OOP    20  14    13     2  49   F
1873632  OOP    15  12     8     4  39   F
1875290  OOP    20  15    12     8  55   F
1879982  OOP    20  17    26    29  92   A
1886038  OOP    20  16    18    23  77  C+
1891044  OOP    20  16    21    12  69  D+
1897281  OOP    20  17    30    30  97  A+
1908921  OOP     0   0     0     0   0   F
1911496  OOP    20  10     8     2  40   F
1914788  OOP     0   0     0     0   0   F
1920569  OOP    20  14    10    15  59   F
1934243  OOP    20  17    26    30  93   A
1943825  OOP    20  20    27    10  77  C+
1950136  OOP    17   2     1     0  20   F
1954022  OOP    20  15    19    14  68  D+
1968144  OOP    20  17    25    29  91   A
1974440  OOP    20  17    29    28  94   A
1974935  OOP    20  15    15    11  61  D-
1989046  OOP     0   0     0     0   0   F
1993289  OOP    20  18    16    28  82   B
1993809  OOP    16   2    17     4  39   F

In [42]:
# 23

In [54]:
# 24
df['중간기말총점'] = df['중간고사'] + df['기말고사']
df

    과목명  출결점수  과제  중간고사  기말고사  총점     StdNum  중간기말총점   학점
12  OOP    20  17    30    30  97        NaN      60  NaN
20  OOP    20  17    29    28  94        NaN      57  NaN
15  OOP    20  17    26    30  93        NaN      56  NaN
4   OOP    20  17    26    29  92        NaN      55  NaN
1   OOP    20  17    25    29  91        NaN      54  NaN
44   AI    20  17    25    23  85  2000000.0      48   B+
45   AI    20  17    25    23  85  2000000.0      48   B+
2   OOP    20  18    16    28  82        NaN      44  NaN
22  OOP    20  13    19    29  81        NaN      48  NaN
16  OOP    20  14    22    22  78        NaN      44  NaN
27  OOP    20  20    27    10  77        NaN      37  NaN
41  OOP    20  16    18    23  77        NaN      41  NaN
0   OOP    20  19    25    11  75        NaN      36  NaN
5   OOP    20   9    20    26  75        NaN      46  NaN
46   AI    19  16    22    27  74  2000001.0      49    C
3   OOP    20  16    21    12  69        NaN      33  NaN
14  OOP    20  15    19    14  68        NaN      33  NaN
34  OOP    20  18    19     6  63        NaN      25  NaN
9   OOP    20  15    15    11  61        NaN      26  NaN
24  OOP    20  11    17    13  61        NaN      30  NaN
36  OOP    20  14    10    15  59        NaN      25  NaN
13  OOP    20  15    12     8  55        NaN      20  NaN
39  OOP    20  17    13     4  54        NaN      17  NaN
29  OOP    20  14    13     2  49        NaN      15  NaN
10  OOP    19   9    12     8  48        NaN      20  NaN
38  OOP    20  12    12     4  48        NaN      16  NaN
7   OOP    20  12    10     5  47        NaN      15  NaN
18  OOP    20  14     9     3  46        NaN      12  NaN
30  OOP    20  10    11     5  46        NaN      16  NaN
37  OOP    20  15     7     3  45        NaN      10  NaN
26  OOP    20  16     5     3  44        NaN       8  NaN
23  OOP    20   9     7     4  40        NaN      11  NaN
33  OOP    20  10     8     2  40        NaN      10  NaN
11  OOP    16   2    17     4  39        NaN      21  NaN
32  OOP    20  13     2     4  39        NaN       6  NaN
35  OOP    15  12     8     4  39        NaN      12  NaN
31  OOP    20  10     6     1  37        NaN       7  NaN
42  OOP    20  13     3     1  37        NaN       4  NaN
40  OOP    20  12     2     2  36        NaN       4  NaN
19  OOP    17   2     1     0  20        NaN       1  NaN
6   OOP     0   0     0     0   0        NaN       0  NaN
8   OOP     0   0     0     0   0        NaN       0  NaN
17  OOP     0   0     0     0   0        NaN       0  NaN
21  OOP     0   0     0     0   0        NaN       0  NaN
25  OOP     0   0     0     0   0        NaN       0  NaN
28  OOP     0   0     0     0   0        NaN       0  NaN
43  OOP     0   0     0     0   0        NaN       0  NaN

In [50]:
# 25
data = {
    'StdNum' : 2000000,
    '과목명' : 'AI',
    '출결점수' : 20,
    '과제' : 17,
    '중간고사' : 25,
    '기말고사' : 23,
    '총점' : 85,
    '학점' : 'B+',
    '중간기말총점' : 48,
 }
df = df.append(data, ignore_index = True)

data = {
    'StdNum' : 2000001,
    '과목명' : 'AI',
    '출결점수' : 19,
    '과제' : 16,
    '중간고사' : 22,
    '기말고사' : 27,
    '총점' : 74,
    '학점' : 'C',
    '중간기말총점' : 39,
 }
df = df.append(data, ignore_index = True)
df

    과목명  출결점수  과제  중간고사  기말고사  총점     StdNum  중간기말총점   학점
0   OOP    20  19    25    11  75        NaN     NaN  NaN
1   OOP    20  17    25    29  91        NaN     NaN  NaN
2   OOP    20  18    16    28  82        NaN     NaN  NaN
3   OOP    20  16    21    12  69        NaN     NaN  NaN
4   OOP    20  17    26    29  92        NaN     NaN  NaN
5   OOP    20   9    20    26  75        NaN     NaN  NaN
6   OOP     0   0     0     0   0        NaN     NaN  NaN
7   OOP    20  12    10     5  47        NaN     NaN  NaN
8   OOP     0   0     0     0   0        NaN     NaN  NaN
9   OOP    20  15    15    11  61        NaN     NaN  NaN
10  OOP    19   9    12     8  48        NaN     NaN  NaN
11  OOP    16   2    17     4  39        NaN     NaN  NaN
12  OOP    20  17    30    30  97        NaN     NaN  NaN
13  OOP    20  15    12     8  55        NaN     NaN  NaN
14  OOP    20  15    19    14  68        NaN     NaN  NaN
15  OOP    20  17    26    30  93        NaN     NaN  NaN
16  OOP    20  14    22    22  78        NaN     NaN  NaN
17  OOP     0   0     0     0   0        NaN     NaN  NaN
18  OOP    20  14     9     3  46        NaN     NaN  NaN
19  OOP    17   2     1     0  20        NaN     NaN  NaN
20  OOP    20  17    29    28  94        NaN     NaN  NaN
21  OOP     0   0     0     0   0        NaN     NaN  NaN
22  OOP    20  13    19    29  81        NaN     NaN  NaN
23  OOP    20   9     7     4  40        NaN     NaN  NaN
24  OOP    20  11    17    13  61        NaN     NaN  NaN
25  OOP     0   0     0     0   0        NaN     NaN  NaN
26  OOP    20  16     5     3  44        NaN     NaN  NaN
27  OOP    20  20    27    10  77        NaN     NaN  NaN
28  OOP     0   0     0     0   0        NaN     NaN  NaN
29  OOP    20  14    13     2  49        NaN     NaN  NaN
30  OOP    20  10    11     5  46        NaN     NaN  NaN
31  OOP    20  10     6     1  37        NaN     NaN  NaN
32  OOP    20  13     2     4  39        NaN     NaN  NaN
33  OOP    20  10     8     2  40        NaN     NaN  NaN
34  OOP    20  18    19     6  63        NaN     NaN  NaN
35  OOP    15  12     8     4  39        NaN     NaN  NaN
36  OOP    20  14    10    15  59        NaN     NaN  NaN
37  OOP    20  15     7     3  45        NaN     NaN  NaN
38  OOP    20  12    12     4  48        NaN     NaN  NaN
39  OOP    20  17    13     4  54        NaN     NaN  NaN
40  OOP    20  12     2     2  36        NaN     NaN  NaN
41  OOP    20  16    18    23  77        NaN     NaN  NaN
42  OOP    20  13     3     1  37        NaN     NaN  NaN
43  OOP     0   0     0     0   0        NaN     NaN  NaN
44   AI    20  17    25    23  85  2000000.0    48.0   B+
45   AI    20  17    25    23  85  2000000.0    48.0   B+
46   AI    19  16    22    27  74  2000001.0    39.0    C

In [51]:
# 26
df.sort_values(by = ['총점', '중간기말총점'],ascending=[False, False], inplace=True)
df

    과목명  출결점수  과제  중간고사  기말고사  총점     StdNum  중간기말총점   학점
12  OOP    20  17    30    30  97        NaN     NaN  NaN
20  OOP    20  17    29    28  94        NaN     NaN  NaN
15  OOP    20  17    26    30  93        NaN     NaN  NaN
4   OOP    20  17    26    29  92        NaN     NaN  NaN
1   OOP    20  17    25    29  91        NaN     NaN  NaN
44   AI    20  17    25    23  85  2000000.0    48.0   B+
45   AI    20  17    25    23  85  2000000.0    48.0   B+
2   OOP    20  18    16    28  82        NaN     NaN  NaN
22  OOP    20  13    19    29  81        NaN     NaN  NaN
16  OOP    20  14    22    22  78        NaN     NaN  NaN
27  OOP    20  20    27    10  77        NaN     NaN  NaN
41  OOP    20  16    18    23  77        NaN     NaN  NaN
0   OOP    20  19    25    11  75        NaN     NaN  NaN
5   OOP    20   9    20    26  75        NaN     NaN  NaN
46   AI    19  16    22    27  74  2000001.0    39.0    C
3   OOP    20  16    21    12  69        NaN     NaN  NaN
14  OOP    20  15    19    14  68        NaN     NaN  NaN
34  OOP    20  18    19     6  63        NaN     NaN  NaN
9   OOP    20  15    15    11  61        NaN     NaN  NaN
24  OOP    20  11    17    13  61        NaN     NaN  NaN
36  OOP    20  14    10    15  59        NaN     NaN  NaN
13  OOP    20  15    12     8  55        NaN     NaN  NaN
39  OOP    20  17    13     4  54        NaN     NaN  NaN
29  OOP    20  14    13     2  49        NaN     NaN  NaN
10  OOP    19   9    12     8  48        NaN     NaN  NaN
38  OOP    20  12    12     4  48        NaN     NaN  NaN
7   OOP    20  12    10     5  47        NaN     NaN  NaN
18  OOP    20  14     9     3  46        NaN     NaN  NaN
30  OOP    20  10    11     5  46        NaN     NaN  NaN
37  OOP    20  15     7     3  45        NaN     NaN  NaN
26  OOP    20  16     5     3  44        NaN     NaN  NaN
23  OOP    20   9     7     4  40        NaN     NaN  NaN
33  OOP    20  10     8     2  40        NaN     NaN  NaN
11  OOP    16   2    17     4  39        NaN     NaN  NaN
32  OOP    20  13     2     4  39        NaN     NaN  NaN
35  OOP    15  12     8     4  39        NaN     NaN  NaN
31  OOP    20  10     6     1  37        NaN     NaN  NaN
42  OOP    20  13     3     1  37        NaN     NaN  NaN
40  OOP    20  12     2     2  36        NaN     NaN  NaN
19  OOP    17   2     1     0  20        NaN     NaN  NaN
6   OOP     0   0     0     0   0        NaN     NaN  NaN
8   OOP     0   0     0     0   0        NaN     NaN  NaN
17  OOP     0   0     0     0   0        NaN     NaN  NaN
21  OOP     0   0     0     0   0        NaN     NaN  NaN
25  OOP     0   0     0     0   0        NaN     NaN  NaN
28  OOP     0   0     0     0   0        NaN     NaN  NaN
43  OOP     0   0     0     0   0        NaN     NaN  NaN

In [53]:
# 27
df.nlargest(5, '총점')[['과목명','출결점수','과제','중간고사','기말고사','총점','학점','중간기말총점']]

    과목명  출결점수  과제  중간고사  기말고사  총점   학점  중간기말총점
12  OOP    20  17    30    30  97  NaN     NaN
20  OOP    20  17    29    28  94  NaN     NaN
15  OOP    20  17    26    30  93  NaN     NaN
4   OOP    20  17    26    29  92  NaN     NaN
1   OOP    20  17    25    29  91  NaN     NaN

In [55]:
# 28
df.drop(columns = '중간기말총점', inplace=True)
df

    과목명  출결점수  과제  중간고사  기말고사  총점     StdNum   학점
12  OOP    20  17    30    30  97        NaN  NaN
20  OOP    20  17    29    28  94        NaN  NaN
15  OOP    20  17    26    30  93        NaN  NaN
4   OOP    20  17    26    29  92        NaN  NaN
1   OOP    20  17    25    29  91        NaN  NaN
44   AI    20  17    25    23  85  2000000.0   B+
45   AI    20  17    25    23  85  2000000.0   B+
2   OOP    20  18    16    28  82        NaN  NaN
22  OOP    20  13    19    29  81        NaN  NaN
16  OOP    20  14    22    22  78        NaN  NaN
27  OOP    20  20    27    10  77        NaN  NaN
41  OOP    20  16    18    23  77        NaN  NaN
0   OOP    20  19    25    11  75        NaN  NaN
5   OOP    20   9    20    26  75        NaN  NaN
46   AI    19  16    22    27  74  2000001.0    C
3   OOP    20  16    21    12  69        NaN  NaN
14  OOP    20  15    19    14  68        NaN  NaN
34  OOP    20  18    19     6  63        NaN  NaN
9   OOP    20  15    15    11  61        NaN  NaN
24  OOP    20  11    17    13  61        NaN  NaN
36  OOP    20  14    10    15  59        NaN  NaN
13  OOP    20  15    12     8  55        NaN  NaN
39  OOP    20  17    13     4  54        NaN  NaN
29  OOP    20  14    13     2  49        NaN  NaN
10  OOP    19   9    12     8  48        NaN  NaN
38  OOP    20  12    12     4  48        NaN  NaN
7   OOP    20  12    10     5  47        NaN  NaN
18  OOP    20  14     9     3  46        NaN  NaN
30  OOP    20  10    11     5  46        NaN  NaN
37  OOP    20  15     7     3  45        NaN  NaN
26  OOP    20  16     5     3  44        NaN  NaN
23  OOP    20   9     7     4  40        NaN  NaN
33  OOP    20  10     8     2  40        NaN  NaN
11  OOP    16   2    17     4  39        NaN  NaN
32  OOP    20  13     2     4  39        NaN  NaN
35  OOP    15  12     8     4  39        NaN  NaN
31  OOP    20  10     6     1  37        NaN  NaN
42  OOP    20  13     3     1  37        NaN  NaN
40  OOP    20  12     2     2  36        NaN  NaN
19  OOP    17   2     1     0  20        NaN  NaN
6   OOP     0   0     0     0   0        NaN  NaN
8   OOP     0   0     0     0   0        NaN  NaN
17  OOP     0   0     0     0   0        NaN  NaN
21  OOP     0   0     0     0   0        NaN  NaN
25  OOP     0   0     0     0   0        NaN  NaN
28  OOP     0   0     0     0   0        NaN  NaN
43  OOP     0   0     0     0   0        NaN  NaN

In [63]:
# 29
filt = [i for i in df['총점'] if i == 0]
df.drop(filt, inplace=True)
df

    과목명  출결점수  과제  중간고사  기말고사  총점     StdNum   학점
12  OOP    20  17    30    30  97        NaN  NaN
20  OOP    20  17    29    28  94        NaN  NaN
15  OOP    20  17    26    30  93        NaN  NaN
4   OOP    20  17    26    29  92        NaN  NaN
1   OOP    20  17    25    29  91        NaN  NaN
44   AI    20  17    25    23  85  2000000.0   B+
45   AI    20  17    25    23  85  2000000.0   B+
2   OOP    20  18    16    28  82        NaN  NaN
22  OOP    20  13    19    29  81        NaN  NaN
16  OOP    20  14    22    22  78        NaN  NaN
27  OOP    20  20    27    10  77        NaN  NaN
41  OOP    20  16    18    23  77        NaN  NaN
5   OOP    20   9    20    26  75        NaN  NaN
46   AI    19  16    22    27  74  2000001.0    C
3   OOP    20  16    21    12  69        NaN  NaN
14  OOP    20  15    19    14  68        NaN  NaN
34  OOP    20  18    19     6  63        NaN  NaN
9   OOP    20  15    15    11  61        NaN  NaN
24  OOP    20  11    17    13  61        NaN  NaN
36  OOP    20  14    10    15  59        NaN  NaN
13  OOP    20  15    12     8  55        NaN  NaN
39  OOP    20  17    13     4  54        NaN  NaN
29  OOP    20  14    13     2  49        NaN  NaN
10  OOP    19   9    12     8  48        NaN  NaN
38  OOP    20  12    12     4  48        NaN  NaN
7   OOP    20  12    10     5  47        NaN  NaN
18  OOP    20  14     9     3  46        NaN  NaN
30  OOP    20  10    11     5  46        NaN  NaN
37  OOP    20  15     7     3  45        NaN  NaN
26  OOP    20  16     5     3  44        NaN  NaN
23  OOP    20   9     7     4  40        NaN  NaN
33  OOP    20  10     8     2  40        NaN  NaN
11  OOP    16   2    17     4  39        NaN  NaN
32  OOP    20  13     2     4  39        NaN  NaN
35  OOP    15  12     8     4  39        NaN  NaN
31  OOP    20  10     6     1  37        NaN  NaN
42  OOP    20  13     3     1  37        NaN  NaN
40  OOP    20  12     2     2  36        NaN  NaN
19  OOP    17   2     1     0  20        NaN  NaN
6   OOP     0   0     0     0   0        NaN  NaN
8   OOP     0   0     0     0   0        NaN  NaN
17  OOP     0   0     0     0   0        NaN  NaN
21  OOP     0   0     0     0   0        NaN  NaN
25  OOP     0   0     0     0   0        NaN  NaN
28  OOP     0   0     0     0   0        NaN  NaN
43  OOP     0   0     0     0   0        NaN  NaN

In [60]:
# 30
df.sort_values(by='총점').head(5)

    과목명  출결점수  과제  중간고사  기말고사  총점  StdNum   학점
43  OOP     0   0     0     0   0     NaN  NaN
6   OOP     0   0     0     0   0     NaN  NaN
8   OOP     0   0     0     0   0     NaN  NaN
28  OOP     0   0     0     0   0     NaN  NaN
21  OOP     0   0     0     0   0     NaN  NaN