In [2]:
import pandas as pd

In [3]:
people = {
    "이름" : ["길동", "춘향", "몽룡"],
    "성" : ["홍", "성", "이"],
    "이메일" : ["gdhong@gmail.com", "chsung@gmail.com", "mrlee@gmail.com"]
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com

In [6]:
df.columns

Index(['이름', '성', '이메일'], dtype='object')

In [7]:
df.columns = ['first_name', 'last_name', 'email']

In [8]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [9]:
col_arr = [x for x in df.columns]

In [10]:
col_arr

['first_name', 'last_name', 'email']

In [11]:
arr = [x for x in range(1,10,2)]

In [12]:
arr

[1, 3, 5, 7, 9]

In [13]:
col_arr = [x.upper() for x in df.columns]

In [14]:
col_arr

['FIRST_NAME', 'LAST_NAME', 'EMAIL']

In [15]:
df.columns = col_arr

In [16]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [17]:
df.columns = [x.replace('_', ' ') for x in df.columns]

In [18]:
df

  FIRST NAME LAST NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [19]:
df.columns.str.replace(' ', '_')

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [20]:
df

  FIRST NAME LAST NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [21]:
df.columns = df.columns.str.replace(' ', '_')

In [22]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [23]:
df.rename(columns={"FIRST_NAME" : "first", "LAST_NAME" : "last"}, inplace=True)

In [24]:
df

  first last             EMAIL
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mrlee@gmail.com

In [25]:
df.loc[2]

first                 몽룡
last                   이
EMAIL    mrlee@gmail.com
Name: 2, dtype: object

In [26]:
df.loc[2, 'first']

'몽룡'

In [27]:
df.loc[2] = ['몽룡', '이', 'melee@yju.ac.kr']

In [28]:
df

  first last             EMAIL
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   melee@yju.ac.kr

In [29]:
df.loc[2,['last','EMAIL']]

last                   이
EMAIL    melee@yju.ac.kr
Name: 2, dtype: object

In [30]:
df.loc[2,['last','EMAIL']] = ['Lee', 'mrlee@gmail.com']

In [31]:
df

  first last             EMAIL
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡  Lee   mrlee@gmail.com

In [32]:
df.rename(columns={'EMAIL' : 'email'}, inplace=True)

In [33]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡  Lee   mrlee@gmail.com

In [34]:
df['email'] == 'mrlee@gmail.com'

0    False
1    False
2     True
Name: email, dtype: bool

In [35]:
df[df['email'] == 'mrlee@gmail.com']

  first last            email
2    몽룡  Lee  mrlee@gmail.com

In [36]:
filt = df['email'] == 'mrlee@gmail.com'

In [37]:
df[filt]

  first last            email
2    몽룡  Lee  mrlee@gmail.com

In [38]:
filt = df['first'] == '몽룡'
df.loc[filt,['last','email']] = ['Park','mrpark@gmail.com']
df

  first  last             email
0    길동     홍  gdhong@gmail.com
1    춘향     성  chsung@gmail.com
2    몽룡  Park  mrpark@gmail.com

In [39]:
type(df['email'])

pandas.core.series.Series

In [40]:
type(df[['email','last']])

pandas.core.frame.DataFrame

In [41]:
df['last'].str.upper()

0       홍
1       성
2    PARK
Name: last, dtype: object

In [42]:
df

  first  last             email
0    길동     홍  gdhong@gmail.com
1    춘향     성  chsung@gmail.com
2    몽룡  Park  mrpark@gmail.com

In [43]:
filt = df['last']

In [44]:
filt = filt.str.upper()

In [45]:
df['last'] = df['last'].str.upper()

In [46]:
df

  first  last             email
0    길동     홍  gdhong@gmail.com
1    춘향     성  chsung@gmail.com
2    몽룡  PARK  mrpark@gmail.com

In [47]:
df['last'].str.len()

0    1
1    1
2    4
Name: last, dtype: int64

apply() 함수는 DataFrame 또는 Series의 각 값에 대해서 특정 함수를 적용하고자 할 때 사용될 수 있다.

In [48]:
df['last'].apply(str.upper)

0       홍
1       성
2    PARK
Name: last, dtype: object

파이썬에서 함수는 <br>
def 함수이름(): <br>
&nbsp;&nbsp;함수구현

In [49]:
def upper(strval):
    return strval.upper()

def lower(strval):
    return strval.lower()

In [50]:
df['last'].apply(upper)

0       홍
1       성
2    PARK
Name: last, dtype: object

In [51]:
df['last'].apply(lower)

0       홍
1       성
2    park
Name: last, dtype: object

In [52]:
df

  first  last             email
0    길동     홍  gdhong@gmail.com
1    춘향     성  chsung@gmail.com
2    몽룡  PARK  mrpark@gmail.com

In [53]:
df['last'] = df['last'].apply(lower)

In [54]:
df

  first  last             email
0    길동     홍  gdhong@gmail.com
1    춘향     성  chsung@gmail.com
2    몽룡  park  mrpark@gmail.com

In [55]:
df.loc[3] = ['chunHyang',None,'chsung@gmail.com']

In [56]:
df.apply(len)

first    4
last     4
email    4
dtype: int64

In [57]:
import numpy as np

In [58]:
df

       first  last             email
0         길동     홍  gdhong@gmail.com
1         춘향     성  chsung@gmail.com
2         몽룡  park  mrpark@gmail.com
3  chunHyang  None  chsung@gmail.com

In [59]:
df['first'].count()

4

In [60]:
df['last'].count()

3

select count(name) from members
SQL에서도 name 칼럼 값이 null 이면 카운팅에서 제외된다.
즉, members 테이블에 5개의 레코드가 있어도, 특정 하나의 레코드의 name 칼럼 값이 null이면
위 SQL문의 결과는 4가 반환된다.
이처럼, count() 도 마찬가지다.

select count(*) from members;

In [61]:
df.apply(len)

first    4
last     4
email    4
dtype: int64

In [62]:

df.apply(len, axis='columns')   # 가로로 기준으로 (columns의 숫자)

0    3
1    3
2    3
3    3
dtype: int64

In [63]:
df.apply(len, axis='index') # default 값이 index

first    4
last     4
email    4
dtype: int64

In [64]:
df.apply(min)
# last의 세번째 항이 none 이어서 최소값을 구할 수 없기 때문에

TypeError: '<' not supported between instances of 'NoneType' and 'str'

In [67]:
df.loc[3,'last'] = 'Sung'

In [68]:
df

       first  last             email
0         길동     홍  gdhong@gmail.com
1         춘향     성  chsung@gmail.com
2         몽룡  park  mrpark@gmail.com
3  chunHyang  Sung  chsung@gmail.com

In [69]:
df.apply(min)

first           chunHyang
last                 Sung
email    chsung@gmail.com
dtype: object

In [70]:
df.apply(max)

first                  춘향
last                    홍
email    mrpark@gmail.com
dtype: object

In [73]:
df['email'].apply(min)
# df

0    .
1    .
2    .
3    .
Name: email, dtype: object

In [74]:
df.apply(lambda x:x.min())

first           chunHyang
last                 Sung
email    chsung@gmail.com
dtype: object

위에서 lambda는 각 시리즈에 대해서 적용된다.
따라서 x는 각 시리즈를 의미한다.
DataFrame의 모든 값에 대해 특정 함수를 적용하기 위해서는 applymap()을 사용한다.
applymap()은 DataFrame에만 적용할 수 있다.

In [75]:
df.apply(len)

first    4
last     4
email    4
dtype: int64

In [76]:
df.applymap(len)

   first  last  email
0      2     1     16
1      2     1     16
2      2     4     16
3      9     4     16

map() 함수를 살펴보자.
map()은 시리즈의 각 값을 치환하기 위해 사용 될 수 있다.

In [77]:
df['first']

0           길동
1           춘향
2           몽룡
3    chunHyang
Name: first, dtype: object

In [79]:
df['first'].map({'길동' : 'Gildong', '춘향' : 'ChunHyang'})
# 지정 되지 않은 것은 모두 NaN값으로 바뀜
# 원본은 바뀌지 않음

0      Gildong
1    ChunHyang
2          NaN
3          NaN
Name: first, dtype: object

In [80]:
df['first'].replace({'길동' : 'Gildong', '춘향' : 'ChunHyang'})
# 매칭 되는 것만 바꿈
# 원본은 바뀌지 않음

0      Gildong
1    ChunHyang
2           몽룡
3    chunHyang
Name: first, dtype: object

In [81]:
df['first'] = df['first'].replace({'길동' : 'Gildong', '춘향' : 'ChunHyang'})
# 원본을 바꾸기 위해서는 이렇게

In [82]:
df['first'] = df['first'].replace({'chunHyang' : '향단'})

In [83]:
df

       first  last             email
0    Gildong     홍  gdhong@gmail.com
1  ChunHyang     성  chsung@gmail.com
2         몽룡  park  mrpark@gmail.com
3         향단  Sung  chsung@gmail.com