In [1]:
import pandas as pd

In [2]:
people = {
    "이름" : ["길동", "춘향", "몽룡"],
    "성" : ["홍", "성", "이"],
    "이메일" : ["gdhong@gmail.com", "chsung@gmail.com", "mrlee@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com

In [5]:
df.columns

Index(['이름', '성', '이메일'], dtype='object')

In [6]:
df.columns = ['first_name', 'last_name', 'email']

In [7]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [8]:
col_arr = [x for x in df.columns]

In [9]:
col_arr

['first_name', 'last_name', 'email']

In [14]:
arr = [x for x in range(1,10,2)]

In [15]:
arr

[1, 3, 5, 7, 9]

In [16]:
col_arr = [x.upper() for x in df.columns]

In [17]:
col_arr

['FIRST_NAME', 'LAST_NAME', 'EMAIL']

In [18]:
df.columns = col_arr

In [19]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [22]:
df.columns = [x.replace('_', ' ') for x in df.columns]

In [23]:
df

  FIRST NAME LAST NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [26]:
df.columns.str.replace(' ', '_')

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [27]:
df

  FIRST NAME LAST NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [28]:
df.columns = df.columns.str.replace(' ', '_')

In [29]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mrlee@gmail.com

In [35]:
df.rename(columns={"FIRST_NAME" : "first", "LAST_NAME" : "last"}, inplace=True)

In [36]:
df

  first last             EMAIL
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mrlee@gmail.com

In [37]:
df.loc[2]

first                 몽룡
last                   이
EMAIL    mrlee@gmail.com
Name: 2, dtype: object

In [38]:
df.loc[2, 'first']

'몽룡'

In [39]:
df.loc[2] = ['몽룡', '이', 'melee@yju.ac.kr']

In [40]:
df

  first last             EMAIL
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   melee@yju.ac.kr

In [41]:
df.loc[2,['last','EMAIL']]

last                   이
EMAIL    melee@yju.ac.kr
Name: 2, dtype: object

In [42]:
df.loc[2,['last','EMAIL']] = ['Lee', 'mrlee@gmail.com']

In [43]:
df

  first last             EMAIL
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡  Lee   mrlee@gmail.com

In [44]:
df.rename(columns={'EMAIL' : 'email'}, inplace=True)

In [45]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡  Lee   mrlee@gmail.com

In [46]:
df['email'] == 'mrlee@gmail.com'

0    False
1    False
2     True
Name: email, dtype: bool

In [47]:
df[df['email'] == 'mrlee@gmail.com']

  first last            email
2    몽룡  Lee  mrlee@gmail.com