In [1]:
import pandas as pd

In [121]:
people = {
    "first" : ["길동", "춘향", "몽룡"],
    "last" : ["홍", "성", "이"],
    "email" : ["gdhong@gmail.com", "chsung@gmail.com", "mylee@gmail.com"]
}

In [122]:
df = pd.DataFrame(people)

In [5]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [6]:
df[['first','last']]

  first last
0    길동    홍
1    춘향    성
2    몽룡    이

In [7]:
df[['first','email']]

  first             email
0    길동  gdhong@gmail.com
1    춘향  chsung@gmail.com
2    몽룡   mylee@gmail.com

In [9]:
df.loc[0]

first                  길동
last                    홍
email    gdhong@gmail.com
Name: 0, dtype: object

In [10]:
df.loc[0, 'first']

'길동'

In [15]:
df.loc[[0,1]]

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com

In [16]:
df.loc[[0,1], ['first','last']]

  first last
0    길동    홍
1    춘향    성

In [17]:
df.set_index('email', inplace=True)

In [18]:
df

                 first last
email
gdhong@gmail.com    길동    홍
chsung@gmail.com    춘향    성
mylee@gmail.com     몽룡    이

In [19]:
df.loc['gdhong@gmail.com', 'first']

'길동'

In [20]:
df.index

Index(['gdhong@gmail.com', 'chsung@gmail.com', 'mylee@gmail.com'], dtype='object', name='email')

In [21]:
df.iloc[0,0]

'길동'

In [23]:
df.iloc[0,1]

'홍'

In [24]:
df.sort_index(inplace=True)

In [25]:
df

                 first last
email
chsung@gmail.com    춘향    성
gdhong@gmail.com    길동    홍
mylee@gmail.com     몽룡    이

In [28]:
df.sort_index(ascending=False, inplace=True)

In [29]:
df

                 first last
email
mylee@gmail.com     몽룡    이
gdhong@gmail.com    길동    홍
chsung@gmail.com    춘향    성

In [31]:
df.reset_index(inplace=True)

In [32]:
df

              email first last
0   mylee@gmail.com    몽룡    이
1  gdhong@gmail.com    길동    홍
2  chsung@gmail.com    춘향    성

In [33]:
df.iloc[[0,1,2]]

              email first last
0   mylee@gmail.com    몽룡    이
1  gdhong@gmail.com    길동    홍
2  chsung@gmail.com    춘향    성

In [39]:
df.iloc[[1,2],[1,2]]

  first last
1    길동    홍
2    춘향    성

In [46]:
df[df['last'] == '성'].index

Int64Index([2], dtype='int64')

In [48]:
df.loc[df['last'] == '성']

              email first last
2  chsung@gmail.com    춘향    성

In [49]:
filt = df['last'] == '성'

In [50]:
df.loc[~filt, 'email']

0     mylee@gmail.com
1    gdhong@gmail.com
Name: email, dtype: object

In [51]:
df = pd.read_csv('fortune500.csv')

In [52]:
df

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
0,1955,1,General Motors,9823.5,806
1,1955,2,Exxon Mobil,5661.4,584.8
2,1955,3,U.S. Steel,3250.4,195.4
3,1955,4,General Electric,2959.1,212.6
4,1955,5,Esmark,2510.8,19.1
...,...,...,...,...,...
25495,2005,496,Wm. Wrigley Jr.,3648.6,493
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584

In [53]:
pd.set_option('display.max_columns', 100)

In [54]:
pd.set_option('display.max_rows', 20)

In [55]:
df

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
0,1955,1,General Motors,9823.5,806
1,1955,2,Exxon Mobil,5661.4,584.8
2,1955,3,U.S. Steel,3250.4,195.4
3,1955,4,General Electric,2959.1,212.6
4,1955,5,Esmark,2510.8,19.1
...,...,...,...,...,...
25495,2005,496,Wm. Wrigley Jr.,3648.6,493
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584

In [56]:
df.tail(20)

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
25480,2005,481,Sealed Air,3798.1,215.6
25481,2005,482,Maxtor,3796.3,-181.9
25482,2005,483,Reebok International,3785.3,192.4
25483,2005,484,UGI,3784.7,111.6
25484,2005,485,Guidant,3775.2,524
25485,2005,486,Host Marriott,3773.0,N.A.
25486,2005,487,Advance Auto Parts,3770.3,188
25487,2005,488,ServiceMaster,3759.6,331.2
25488,2005,489,Wesco International,3741.3,64.9
25489,2005,490,Telephone & Data Sys.,3720.4,49
25490,2005,491,Level 3 Communications,3712.0,-458
25491,2005,492,Brinker International,3707.5,154
25492,2005,493,Stater Bros. Holdings,3704.9,71.8
25493,2005,494,Western & Southern Financial,3694.5,328
25494,2005,495,Gateway,3649.7,-567.6
25495,2005,496,Wm. Wrigley Jr.,3648.6,493
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584

In [57]:
df.head(20)

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
0,1955,1,General Motors,9823.5,806
1,1955,2,Exxon Mobil,5661.4,584.8
2,1955,3,U.S. Steel,3250.4,195.4
3,1955,4,General Electric,2959.1,212.6
4,1955,5,Esmark,2510.8,19.1
5,1955,6,Chrysler,2071.6,18.5
6,1955,7,Armour,2056.1,1.6
7,1955,8,Gulf Oil,1705.3,182.8
8,1955,9,Mobil,1703.6,183.8
9,1955,10,DuPont,1687.7,344.4
10,1955,11,Amoco,1667.4,132.8
11,1955,12,Bethlehem Steel,1660.3,117.2
12,1955,13,CBS,1631.0,84.6
13,1955,14,Texaco,1574.4,226.1
14,1955,15,AT&T Technologies,1526.2,55.8
15,1955,16,Shell Oil,1312.1,121.1
16,1955,17,Kraft,1210.3,37.4
17,1955,18,ChevronTexaco,1113.3,211.9
18,1955,19,Goodyear Tire & Rubber,1090.1,48.1
19,1955,20,Boeing,1033.2,37

In [58]:
type(df['Company'])

pandas.core.series.Series

In [61]:
type(df[['Company','Rank']])

pandas.core.frame.DataFrame

In [63]:
df['Profit (in millions)'].min()

'-0.1'

In [64]:
df['Profit (in millions)'].max()

'N.A.'

In [66]:
df.columns

Index(['Year', 'Rank', 'Company', 'Revenue (in millions)',
       'Profit (in millions)'],
      dtype='object')

In [67]:
df = pd.DataFrame(people)

In [68]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [69]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [76]:
df.columns = ['first_name', 'last_name', 'email']

In [71]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mylee@gmail.com

In [72]:
df.rename(columns = {'first_name' : 'first', 'last_name' : 'last'}, inplace = True)

In [73]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [74]:
df.columns = [i.upper() for i in df.columns]

In [77]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mylee@gmail.com

In [78]:
df.columns = [i.replace('_',' ') for i in df.columns]

In [79]:
df

  first name last name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mylee@gmail.com

In [80]:
df.columns = df.columns.str.replace(' ', '_')

In [81]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mylee@gmail.com

In [82]:
df.loc[2]

first_name                 몽룡
last_name                   이
email         mylee@gmail.com
Name: 2, dtype: object

In [83]:
df.iloc[2]

first_name                 몽룡
last_name                   이
email         mylee@gmail.com
Name: 2, dtype: object

In [84]:
df.loc[2] = ['test', 't', 'test@gmail.com']

In [85]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2       test         t    test@gmail.com

In [86]:
df['email'] = df['email'].str.upper()

In [87]:
df

  first_name last_name             email
0         길동         홍  GDHONG@GMAIL.COM
1         춘향         성  CHSUNG@GMAIL.COM
2       test         t    TEST@GMAIL.COM

In [88]:
df['last_name'].apply(len)

0    1
1    1
2    1
Name: last_name, dtype: int64

In [89]:
df['first_name'].apply(len)

0    2
1    2
2    4
Name: first_name, dtype: int64

In [90]:
def upper1(strVal):
    return strVal.upper()
def lower1(strVal):
    return strVal.lower()

df

  first_name last_name             email
0         길동         홍  GDHONG@GMAIL.COM
1         춘향         성  CHSUNG@GMAIL.COM
2       test         t    TEST@GMAIL.COM

In [91]:
df['email'].apply(lower1)

0    gdhong@gmail.com
1    chsung@gmail.com
2      test@gmail.com
Name: email, dtype: object

In [92]:
df

  first_name last_name             email
0         길동         홍  GDHONG@GMAIL.COM
1         춘향         성  CHSUNG@GMAIL.COM
2       test         t    TEST@GMAIL.COM

In [93]:
df['email'] = df['email'].apply(lower1)

In [94]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2       test         t    test@gmail.com

In [97]:
df.columns = df.columns.str.upper()

In [98]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2       test         t    test@gmail.com

In [99]:
df.apply(lambda x:x.min())

FIRST_NAME                test
LAST_NAME                    t
EMAIL         chsung@gmail.com
dtype: object

In [100]:
df.applymap(len)

   FIRST_NAME  LAST_NAME  EMAIL
0           2          1     16
1           2          1     16
2           4          1     14

In [102]:
df.sort_values(by = 'FIRST_NAME')

  FIRST_NAME LAST_NAME             EMAIL
2       test         t    test@gmail.com
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com

In [103]:
df.sort_values(by='FIRST_NAME', ascending=False)

  FIRST_NAME LAST_NAME             EMAIL
1         춘향         성  chsung@gmail.com
0         길동         홍  gdhong@gmail.com
2       test         t    test@gmail.com

In [104]:
df

  FIRST_NAME LAST_NAME             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2       test         t    test@gmail.com

In [106]:
df = df.sort_values(by=['FIRST_NAME','LAST_NAME'], ascending=[True, False])

In [123]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [124]:
df.sort_values(by=['first','last'], ascending=[True, False], inplace=True)

In [125]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
2    몽룡    이   mylee@gmail.com
1    춘향    성  chsung@gmail.com

In [126]:
df.sort_index()

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [127]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
2    몽룡    이   mylee@gmail.com
1    춘향    성  chsung@gmail.com

In [128]:
df.sort_index(inplace=True)

In [129]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [130]:
df.sort_values(by=['first', 'email'], ascending=[True, False]).head(2)

  first last             email
0    길동    홍  gdhong@gmail.com
2    몽룡    이   mylee@gmail.com

In [131]:
df.columns = [x.upper() for x in df.columns]

In [132]:
df

  FIRST LAST             EMAIL
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [133]:
df.columns = [i.lower() for i in df.columns]

In [134]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [135]:
df.rename(columns={'first':'first_name','last':'last_name'}, inplace = True)

In [136]:
df

  first_name last_name             email
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mylee@gmail.com

In [137]:
df.rename(columns={'email':'EMAIL'},inplace = True)

In [138]:
df

  first_name last_name             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mylee@gmail.com

In [139]:
df.columns = [i.replace('_',' ') for i in df.columns]

In [140]:
df

  first name last name             EMAIL
0         길동         홍  gdhong@gmail.com
1         춘향         성  chsung@gmail.com
2         몽룡         이   mylee@gmail.com

In [143]:
df['last name'] + ' ' + df['first name']

0    홍 길동
1    성 춘향
2    이 몽룡
dtype: object

In [144]:
df['name'] = df['last name'] + ' ' + df['first name']

In [145]:
df

  first name last name             EMAIL  name
0         길동         홍  gdhong@gmail.com  홍 길동
1         춘향         성  chsung@gmail.com  성 춘향
2         몽룡         이   mylee@gmail.com  이 몽룡

In [146]:
df.drop(columns={'first name', 'last name'}, inplace = True)

In [147]:
df

              EMAIL  name
0  gdhong@gmail.com  홍 길동
1  chsung@gmail.com  성 춘향
2   mylee@gmail.com  이 몽룡

In [148]:
df[['first','last']] = df['name'].str.split(' ', expand = True)

In [149]:
df

              EMAIL  name first last
0  gdhong@gmail.com  홍 길동     홍   길동
1  chsung@gmail.com  성 춘향     성   춘향
2   mylee@gmail.com  이 몽룡     이   몽룡

In [150]:
df.drop(columns = 'name', inplace = True)

In [151]:
df

              EMAIL first last
0  gdhong@gmail.com     홍   길동
1  chsung@gmail.com     성   춘향
2   mylee@gmail.com     이   몽룡